@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@import url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Web/76eb9ebf/stylesheet/NotoSerif-Web.css);

* {
	cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa.png'), default;
  cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa2.png'), pointer;
}


.ascii {
    display: flex;
    justify-content: left;
}

div  {
  width : auto;
  height: auto;
  justify-content: left;
}

pre {
font-family: 'RoundedFixedsys';
color: #dedede;
}

body {
  background-color: #000000;
  font-size: 20px;
  color: #dedede;
  margin: 2em 3em;
}

::selection {
  background-color: rgb(255, 255, 255); color: #000000;
}

::-moz-selection {
  background-color: rgb(255, 255, 255); color: #000000;
}


p {
  white-space: nomal;
  line-height: 1.5;
  word-spacing: -4px;
  font-size: 20px;
  font-family: 'RoundedFixedsys';
}

.a {
    font-family: 'Noto Serif KR', serif;
    line-height: 1.6;
    word-spacing: 3px;
    font-size: 18px;
}

a:hover{
    color:rgb(222, 222, 222);
    text-decoration: none;
}

a:link{
    color:rgb(222, 222, 222);
    text-decoration: none;
}

a:visited{
    color:rgb(222, 222, 222);
    text-decoration: none;
}


footer {
  background-color: #000000;
  font-size: 14px;
}

h1 {
  font-family: 'RoundedFixedsys';
  margin: 150px auto 10px 0;
  text-align: left;
}

h3 {
  font-family: 'RoundedFixedsys';
  margin-top: 60px;
  margin-Bottom: 10px;
  background-color: #0424c4;
  display: inline-block; 
  padding: 5px 10px;
}

h2 {
  font-family: 'RoundedFixedsys';
}


#musicBtn {
  cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa.png'), auto;
  width: auto;
  transition: transform 0.1s;
 }

#musicBtn:active {
  transform: scale(0.95);
}
