@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

* {
	cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa.png'), default;
  cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa2.png'), pointer;
}


div  {

}

pre {
font-family: 'RoundedFixedsys';
white-space: pre-wrap;
}

.a {
    font-family: 'Noto Serif KR', serif;
    line-height: 1.6;
    word-spacing: 3px;
    font-size: 18px;
    white-space: pre-wrap;
}

.a2 {
    font-family: 'RoundedFixedsys';
    line-height: 1.5;
    font-size: 19px;
    white-space: pre-wrap;
}

body {
  background-color: #000000;
  font-size: 20px;
  color: #dedede;
  margin: 2em 5em;
}

::selection {
  background-color: rgb(255, 255, 255); color: #000000;
}

::-moz-selection {
  background-color: rgb(255, 255, 255); color: #000000;
}


p {
    font-family: 'RoundedFixedsys', serif;
    line-height: 1.6;
    word-spacing: 3px;
    font-size: 18px;
}


h1 {
  font-family: 'RoundedFixedsys';
  margin: 150px auto 10px 0;
  text-align: left;
  font-style: oblique;
}


h2 {
  font-family: 'Noto Serif KR';
}

a:hover{
    color:rgb(186, 26, 12);
    text-decoration: underline;
}

a:visited{
    color:rgb(186, 26, 12);
    text-decoration: underline;
}

a:active{
    color: #dedede;
    text-decoration: none;
    text-decoration: underline;
}

a:link{
    color: #dedede;
    text-decoration: none;
    text-decoration: underline;
}
