@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
/* user styles */

* {
	cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa.png'), default;
  cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa2.png'), pointer;
}

body {
  background-color: #000000;
  font-family: 'RoundedFixedsys';
  font-size: 19px;
  color: #dedede;
  text-align: center;
}


.ascii {
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.bg-wrapper {
    display: grid;
    place-content: center;
    min-height: 90vh;
    background-color: #000;
    text-align: center;
}

#ascii {
    white-space: pre;
    font-family: monospace;
    font-size: 8px;
    color: #474747;
    line-height: 1.2;
    text-align: left;
}

p {
  white-space: nomal;
  line-height: 5;
}

::selection {
  background-color: rgb(255, 255, 255); color: #000000;
}

::-moz-selection {
  background-color: rgb(255, 255, 255); color: #000000;
}
