@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'Galmuri11',monospace;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
/* user styles */

* {
	cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa.png'), default;
  cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa2.png'), pointer;
}

.ascii {
    display: flex;
    justify-content: center;
}

div  {
  width : auto;
  height: auto;
  justify-content: center;
}


body {
  background-color: #000000;
  font-family: 'Galmuri11';
  font-size: 19px;
  text-align: center;
  color: #dedede;
  margin: 2em;
}

::selection {
  background-color: rgb(255, 255, 255); color: #000000;
}

::-moz-selection {
  background-color: rgb(255, 255, 255); color: #000000;
}


p {
  white-space: nomal;
  margin-bottom: 80px;
  line-height: 1.6;
}


footer {
  background-color: #000000;
  text-align: center;
  font-size: 14px;
}

h1 {
  font-family: 'Galmuri11';
  font-style: normal;
  font-weight: bolder;
  line-height: 300px;
  margin-bottom: 10;
}

h2 {
  font-family: 'Galmuri11';
  font-style: normal;
  font-weight: bolder;
  line-height: 50px;
  background-color: #0424c4;
  display: inline-block; 
  padding: 0 5px;
}

h3 {
  font-family: 'Galmuri11';
  font-style: normal;
  font-weight: bolder;
  line-height: 70px;
}

a{
  color:blue;
  text-decoration: none;
}

a:hover{
    color:rgb(186, 26, 12);
    text-decoration: none;
}


    .img-dropshadowimage {
      filter: drop-shadow(0px 0px 3px blue) drop-shadow(0px 4px 0px red)
    }

.img-floatinganim {
animation-name: floating; 
animation-duration: 3s; 
animation-iteration-count: infinite; 
animation-timing-function: ease-in-out;
} 

@keyframes floating { 
0% { 
transform: translate(0,  0px); 
} 
50%  { 
transform: translate(0, 10px); 
} 100%   {
transform: translate(0, -0px); 
} 
}     

#musicBtn {
  cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa.png'), auto;
  width: auto;
  transition: transform 0.1s;
 }

#musicBtn:active {
  transform: scale(0.95);
}

pre {
font-family: monospace;
}
