

* {
	cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa.png'), default;
  cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa2.png'), pointer;
}


body {
  background-color: #000000;
  font-size: 19px;
  color: #dedede;
  text-align: left;
  margin: 4em;
  line-height: 1.3;
}

p {
  white-space: nomal;
  line-height: 5;
}

::selection {
  background-color: rgb(255, 255, 255); color: #000000;
}

::-moz-selection {
  background-color: rgb(255, 255, 255); color: #000000;
}

.command-input {
    background: none;
    border: none;
    color: #dedede;
    font-size: 19px;
    outline: none;
    flex-grow: 1;
}

.output {
    margin-top: 10px;
}

.input-line {
  margin-top: 19px;
}

.prompt {
    color: #00ff00;
    margin-right: 5px;
}

