@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'Galmuri11';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
/* user styles */

* {
	cursor: url('image/Win95Def.png'), default;
  cursor: url('image/Win95DefBlack.png'), pointer;
}

.ascii {
    display: flex;
    justify-content: center;
}

div  {
  width : auto;
  height: auto;
  margin-left: 260px;
  margin-right: 260px;
  justify-content: center;
}

body {
  background-color: #000000;
  font-family: 'Galmuri11';
  font-size: 19px;
  text-align: center;
  color: #dedede;
}

::selection {
  background-color: rgb(255, 255, 255); color: #000000;
}

::-moz-selection {
  background-color: rgb(255, 255, 255); color: #000000;
}


p {
  white-space: nomal;
  padding: 10px;
  line-height: 1.4;
}


footer {
  background-color: #000000;
  /* background color for footer */
  text-align: center;
  /* this centers the footer text */
}

h2 {
  font-family: 'Galmuri11';
  font-style: normal;
  font-weight: bolder;
  color: #ffffff;
  text-align: center;
  line-height: 100px;
}

h3 {
  font-family: 'Galmuri11';
  font-style: normal;
  font-weight: bolder;
  margin: 10;
  color: #ffffff;
  text-align: center;
}

strong {
  color: #ffffff;
}


#topBar {
  width: 100%;
  height: 30px;
  padding: 10px;
  background-color: #000000;
}

