@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'Galmuri11';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
/* user styles */

* {
	cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa.png'), default;
  cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa2.png'), pointer;
}

.ascii {
    display: flex;
    justify-content: center;
}

div  {
  width : auto;
  height: auto;
  margin-left: 260px;
  margin-right: 260px;
  justify-content: center;
}



body {
  background-color: #000000;
  font-family: 'Galmuri11';
  font-size: 19px;
  text-align: center;
  color: #dedede;
}

::selection {
  background-color: rgb(255, 255, 255); color: #000000;
}

::-moz-selection {
  background-color: rgb(255, 255, 255); color: #000000;
}


p {
  white-space: nomal;
  margin-bottom: 60px;
  line-height: 1.5;
}


footer {
  background-color: #000000;
  text-align: center;
  font-size: 14px;
}

h2 {
  font-family: 'Galmuri11';
  font-style: normal;
  font-weight: bolder;
  color: #ffffff;
  text-align: center;
  line-height: 100px;
  margin-bottom: 10;
}

h3 {
  font-family: 'Galmuri11';
  font-style: normal;
  font-weight: bolder;
  margin-bottom: 10;
  color: #ffffff;
  text-align: center;
}

strong {
  color: #ffffff;
}


#topBar {
  width: 100%;
  height: 30px;
  padding: 10px;
  background-color: #000000;
}

    .img-dropshadowimage {
      filter: drop-shadow(0px 0px 3px blue) drop-shadow(0px 4px 0px red)
    }

.img-floatinganim {
animation-name: floating; 
animation-duration: 3s; 
animation-iteration-count: infinite; 
animation-timing-function: ease-in-out;
} 

@keyframes floating { 
0% { 
transform: translate(0,  0px); 
} 
50%  { 
transform: translate(0, 10px); 
} 100%   {
transform: translate(0, -0px); 
} 
}     

#musicBtn {
  cursor: url('https://file.garden/Ze5oTzHwPg7iwG7n/WEBSITE/cursorwaa.png'), auto;
  width: 200px;
  transition: transform 0.1s;
 }

#musicBtn:active {
  transform: scale(0.95);
}

