@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'Galmuri11';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
/* user styles */

* {
	cursor: url('image/Win95Def.png'), default;
  cursor: url('image/Win95DefBlack.png'), pointer;
}

:root {
  --header-image: url('bflag.png');

  /* colors */
  --content: #000000;
}
.ascii {
    display: flex;
    justify-content: center;
}

#ascii {
    font-family: Galmuri11;
    margin: 0;
    padding: 0;
    color: white;
    overflow: auto;
    text-align: left;
}

#pt-br:hover{
    color: rgb(27, 186, 27)
}
pre {
    font-family: "gohu", "Lucida Console", monospace, Monaco;
    color: white;
    font-size: 1rem;
    line-height: 1.2;
}

body {
  background-color: #000000;
  font-family: 'Galmuri11';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing : none;
  margin: 4;
  text-align: center;
  color: #dedede;
}

::selection {
  background-color: rgb(255, 255, 255); color: #000000;
}

::-moz-selection {
  background-color: rgb(255, 255, 255); color: #000000;
}

* {
  box-sizing: border-box;
}

#container {
  max-width: 900px;

  margin: 0 auto;


#container a {
  color: #ffffff;
}

#header {
  width: 100%;
  background-color: #000000;
  height: 150px;
  --background-image: var(--header-image);
  background-size: 100%;
}


main {
  flex: 1;
  padding: 20px;
}


footer {
  background-color: #000000;
  /* background color for footer */
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  /* this centers the footer text */
}

h2 {
  font-family: 'Galmuri11';
  font-size: 15x;
  font-style: normal;
        font-weight: 100;
  color: #ffffff;
  text-align: center;
}

h3 {
  font-family: 'Galmuri11';
  font-size: 15px;
  font-style: normal;
        font-weight: 400;
  -webkit-font-smoothing : none;
  margin: 0;
  color: #ffffff;
  text-align: center;
  -webkit-font-smoothing : none;
}

strong {
  color: #ffffff;
}


#topBar {
  width: 100%;
  height: 30px;
  padding: 10px;
  background-color: #000000;
}

